/* ====== Page load animation  ====== */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(290px);
    filter: blur(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

main, footer {
  animation: fade-in 1.2s ease forwards;
  will-change: transform, opacity, filter;
}

/* ====== Language menu animation  ====== */
@keyframes lng-menu {
  0% {
    opacity: 0;
    transform: translateX(-180px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

nav.lng-menu.active {
  animation: lng-menu 0.8s ease forwards;
  will-change: transform, opacity;
}