/* ====== Header ====== */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.1rem;
  padding: 1.1rem;
  background: #000;
  color: #fff;
  z-index: 1;
}

nav.LngMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4.4rem;
  left: -5rem;
  gap: 1rem;
}

nav.LngMenu.active {
  padding: 1.2rem;
  background: #000;
  left: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #fff;
}

.top-bar button {
  background: #000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #fff;
  cursor: pointer;
}

.top-bar button:hover { background: #111; }

/* ====== Images ====== */
img.mariangel777-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid #fff;
  border-radius: 50%;
  transition: transform 0.6s ease;
}

.track-img {
  width: 92%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 2rem;
  transition: transform 0.6s ease;
}

.social img, .social-links img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  position: relative;
}

.social img { top: -1px; left: 3px; }
.social-links img  { top: -2px; left: 4px; }