/* ====== Light / Dark theme ====== */
body.light { background: #ffffff; }
body.dark { background: #121212 }

/* ====== Main layout ====== */
main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
}

.main-content,
.about,
.social {
  background: #fffefe;
  border: 4px solid #111;
  border-radius: 3rem;
  padding: 1.2rem;
  transition: transform 0.6s ease;
}

.main-content { width: 33rem; }
.about { width: 50rem; }
.social { width: 30rem; }

img.mariangel777-photo:hover,
.main-content:hover,
.about:hover,
.social:hover,
img.track-img:hover,
.social-links:hover {
  transform: translateY(-1px) scale(1.01);
}

footer {
  padding-top: 1rem;
  display: block;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* ====== Track page ====== */
.social-links {
  background: #fffefe;
  border: 4px solid #111;
  border-radius: 3rem;
  padding: 1.2rem;
  transition: transform 0.6s ease;
}

.social-links { width: 30rem; }

/* ====== Dark theme ====== */
body.dark .main-content,
body.dark .about,
body.dark .social,
body.dark .social-links {
  background: #151515;
  border: 3px solid #fff;
}

/* ====== Responsive adjustments ====== */
@media (max-width: 1024px) { 
  .about { max-width: 88%; }
  .main-content, 
  .social,
  .social-links { max-width: 80%; }
}