/* ========== Track page ========== */
.main__track-cover {
  max-width: 500px;
  border: 2px solid #fff;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .main__track-cover { max-width: 400px; }
}

@media (max-width: 425px) {
  .main__track-cover { max-width: 300px; }
}

.main__info { margin: 2rem 0; }

.main__title { margin-bottom: 0.5rem; }

/* ===== Social Media List ===== */
.track__social-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0 3rem 0;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .track__social-list { gap: 2rem; }
}

.track__social-list-icon {
  max-width: 48px;
  transition: 0.4s ease;
}

@media (hover: hover) and (pointer: fine) {
  .track__social-list-icon:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
}