/* ========== Dark theme ========== */
body.dark { background: #080808; transition: 0.4s ease; }
body.dark { color: #fff; }
body.dark h1, 
body.dark h2, 
body.dark h3, 
body.dark h4, 
body.dark h5, 
body.dark h6,
body.dark p { color: inherit; }
body.dark a { color: #1700e7; }
body.dark a:hover { color: #fff; }

body.dark .header__language-menu { 
  background-color: #000;
  border: 2px solid #fff;
}

body.dark .header__language-list-item::after { background-color: #fff; }

body.dark .header__social-list-icon { filter: invert(1); }

body.dark .header__nav-list a { color: #ccc; }
body.dark .header__nav-list a:hover { color: #fff; }

body.dark .header__language-list-item a { color: #fff; }
body.dark .header__language-list-item a:hover { color: #1700e7; }

body.dark .track__social-list-icon { filter: invert(1); }